process {

    // We have to condition this, because the args are slightly different between the latest STAR and the one compatible with iGenomes

    withName: '.*:STAR_ALIGN' {

        ext.args = {
            def base_args = '--quantMode TranscriptomeSAM --twopassMode Basic --outSAMtype BAM Unsorted --readFilesCommand zcat --runRNGseed 0 --outFilterMultimapNmax 20 --alignSJDBoverhangMin 1 --outSAMattributes NH HI AS NM MD --outSAMstrandField intronMotif'
            def unaligned_args = params.save_unaligned ? '--outReadsUnmapped Fastx' : ''
            [base_args, unaligned_args, params.extra_star_align_args ?: '', '--quantTranscriptomeSAMoutput BanSingleEnd'].findAll().join(' ')
        }

        publishDir = [
            [
                path: { "${params.outdir}/alignment/log" },
                mode: params.publish_dir_mode,
                pattern: '*.{out,tab}'
            ],
            [
                path: { params.save_align_intermeds ? "${params.outdir}/alignment" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.bam',
                saveAs: { params.save_align_intermeds ? it : null }
            ],
            [
                path: { params.save_unaligned ? "${params.outdir}/alignment/unmapped" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                saveAs: { params.save_unaligned ? it : null }
            ]
        ]
    }
}
