process {

    withName: 'OBJ_CONSTRUCTION' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'SAMPLE_FILTER' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'NFDATAOMICS_RNASEQ:RNASEQ:DIM_REDUCTION:R_COUNT_NORM' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/downstream/" },
                saveAs: { "${meta.id}.rds" },
                pattern: "*norm.rds"
            ],
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/downstream/normalization/" },
                pattern: "*.txt"
            ]
        ]
    }

    withName: 'NFDATAOMICS_RNASEQ:RNASEQ:DIFFERENTIAL_EXPRESSION:R_COUNT_NORM' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'PCA_AND_MDS' {
        publishDir = [
	    [
            	mode: params.publish_dir_mode,
            	path: { "${params.outdir}/downstream/dim_reduction" },
            	pattern: "{MDS,PCA}*.txt"
            ],
            [
           	mode: params.publish_dir_mode,
            	path: { "${params.outdir}/downstream/dim_reduction" },
            	pattern: "{MDS,PC}*_scoreplots.pdf"
	    ]
        ]
    }

    withName: 'CONTROL_GENE_HEATMAP' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/downstream/" },
            pattern: "heatmap_control_genes*{.pdf,.png}"
        ]
    }

    withName: 'SAMPLES_CORRELATION' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/downstream/" },
            pattern: "samples_correlation*{.pdf,.txt,.png}"
        ]
    }

    withName: 'DESEQ2_FIT' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'DESEQ2_COMPARE' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/downstream/dea_${meta.id}/dea_${meta.cf.replace(":","_")}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SUMMARY_TABLE' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/downstream/dea_${meta.id}/" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ENRICHR' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/downstream/dea_${meta.id}/dea_${meta.cf.replace(":","_")}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ENRICHR_TOPN' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/downstream/dea_${meta.id}/dea_${meta.cf.replace(":","_")}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GSEA' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/downstream/dea_${meta.id}/dea_${meta.cf.replace(":","_")}" },
            pattern: "gsea*.pdf",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GSEA_MERGE' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/downstream/dea_${meta.id}/dea_${meta.cf.replace(":","_")}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CLUSTERPROFILER_ORA' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'CLUSTERPROFILER_ORA_MERGE' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/downstream/dea_${meta.id}/dea_${meta.cf.replace(":","_")}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
