process {

    withName: 'CAT_FASTQ' {
        publishDir = [
            path: { params.save_merged_fastq ? "${params.outdir}/fastq" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename.endsWith('.fastq.gz') && params.save_merged_fastq) ? filename : null }
        ]
    }

    withName: '.*:FQ_LINT.*' {
        ext.args = "--paired-read-validation-level low"
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:FASTQC' {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}_raw" }
        publishDir = [
            path: { "${params.outdir}/fastqc/raw" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTQC_RAW' {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}_raw" }
        publishDir = [
            path: { "${params.outdir}/fastqc/raw" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTQC_TRIM' {
        ext.args   = '--quiet'
        ext.prefix = { "${meta.id}_trimmed" }
        publishDir = [
            path: { "${params.outdir}/fastqc/trim" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:FASTQ_FASTQC_UMITOOLS_FASTP:FASTP' {
        ext.args   = { params.extra_fastp_args ?: '' }
        publishDir = [
            [
                path: { "${params.outdir}/trimming" },
                mode: params.publish_dir_mode,
                pattern: "*.{json,html}"
            ],
            [
                path: { "${params.outdir}/trimming/log" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ],
            [
                path: { params.save_trimmed ? "${params.outdir}/trimming" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: "*.fastq.gz",
                saveAs: { params.save_trimmed ? it : null }
            ]
        ]
    }

    withName: '.*:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE' {
        ext.args = {
            ["--fastqc_args '-t ${task.cpus}'", params.extra_trimgalore_args ?: ''].findAll().join(' ')
        }
        ext.prefix = { "${meta.id}_trimmed" }
        publishDir = [
            [
                path: { "${params.outdir}/fastqc/trim" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,zip}"
            ],
            [
                path: { params.save_trimmed ? "${params.outdir}/trimming" : params.outdir },
                mode: params.publish_dir_mode,
                pattern: "*.fq.gz",
                saveAs: { params.save_trimmed ? it : null }
            ],
            [
                path: { "${params.outdir}/trimming" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ]
        ]
    }

    withName: '.*:FASTQ_SUBSAMPLE_FQ_SALMON:FQ_SUBSAMPLE' {
        ext.args   = '--record-count 1000000 --seed 1'
        ext.prefix = { "${meta.id}.subsampled" }
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_QUANT' {
        ext.args   = '--skipQuant'
        publishDir = [
            enabled: false
        ]
    }

}
