process {

    withName: 'SUBREAD_FEATURECOUNTS_GENES' {
        ext.args   = { [
            '-B -C',
            "-t $params.featurecounts_group_type",
            "-g $params.featurecounts_feature_type"
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/quantification" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GENEID_TO_GENENAME' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'JOIN_FEATURECOUNTS_MATRIX' {
        publishDir = [
            path: { "${params.outdir}/quantification" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SUBREAD_FEATURECOUNTS_BIOTYPES' {
        ext.args   = { [
            '-B -C',
            "-t $params.featurecounts_group_type",
            "-g $params.featurecounts_biotype"
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/quantification/biotypes" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null :
                            filename.replace("featureCounts.tsv", "biotypes.tsv") }
        ]
    }

    withName: 'MULTIQC_CUSTOM_BIOTYPE' {
        publishDir = [
            enabled: false
        ]
    }

}
