/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PICARD_COLLECTRNASEQMETRICS' {
        ext.args   = '--STRAND_SPECIFICITY NONE'
        publishDir = [
            path: { "${params.outdir}/collectrnaseqmetrics" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'OBJ_CONSTRUCTION' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'SAMPLE_FILTER' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'NFDATAOMICS_RNASEQ:RNASEQ:DIM_REDUCTION:R_COUNT_NORM' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/downstream/" },
                saveAs: { "${meta.id}.rds" },
                pattern: "*norm.rds"
            ],
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/downstream/normalization/" },
                pattern: "*.txt"
            ]
        ]
    }

    withName: 'NFDATAOMICS_RNASEQ:RNASEQ:DIFFERENTIAL_EXPRESSION:R_COUNT_NORM' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'PCA_AND_MDS' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/downstream/dim_reduction" },
            pattern: "{MDS,PCA}*.txt"
        ]
    }

    withName: 'CONTROL_GENE_HEATMAP' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/downstream/" },
            pattern: "heatmap_control_genes.pdf"
        ]
    }

    withName: 'DESEQ2_FIT' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'DESEQ2_COMPARE' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/downstream/dea_${meta.id}" },
            pattern: "deseq2_toptable.*.txt"
        ]
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/downstream/dea_${meta.id}" },
            pattern: "deseq2_summary.*.txt"
        ]
    }

    withName: 'ENRICHR' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/downstream/dea_${meta.id}" },
            pattern: "*.xlsx"
        ]
            publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/downstream/dea_${meta.id}" },
            pattern: "enrichr_summary.*.txt"
        ]
    }

}
