/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nfdata-omics/rnaseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input              = 'https://raw.githubusercontent.com/nf-core/test-datasets/626c8fab639062eade4b10747e919341cbf9b41a/samplesheet/v3.10/samplesheet_test.csv'

    // Genome references
    fasta              = 'https://raw.githubusercontent.com/nf-core/test-datasets/626c8fab639062eade4b10747e919341cbf9b41a/reference/genome.fasta'
    gtf                = 'https://raw.githubusercontent.com/nf-core/test-datasets/626c8fab639062eade4b10747e919341cbf9b41a/reference/genes_with_empty_tid.gtf.gz'
    transcript_fasta   = 'https://raw.githubusercontent.com/nf-core/test-datasets/626c8fab639062eade4b10747e919341cbf9b41a/reference/transcriptome.fasta'
    salmon_index       = 'https://raw.githubusercontent.com/nf-core/test-datasets/626c8fab639062eade4b10747e919341cbf9b41a/reference/salmon.tar.gz'
    featurecounts_biotype = "transcript_biotype"

    // Downstream analysis parameters
    metadata           = "$projectDir/assets/test_metadata.csv"
    control_genes_list = "$projectDir/assets/s_cervisiae_genes.txt"
    model_formula      = "~0+condition"
    comparisons        = "condition:RAP1_UNINDUCED:WT,condition:RAP1_IAA_30M:WT"
    fdr_threshold      = 0.5
    genesets           = "$projectDir/assets/s_cervisiae_genelist.gmt"
    fdr_pathways       = 1.0

}

// Change genomeSAindexNbases option of STAR whilst building tiny indices
process {
    withName: 'STAR_GENOMEGENERATE' {
        ext.args = '--genomeSAindexNbases 9'
    }
}

// Change the minimal size for the gene sets included in the GSEA analysis
process {
    withName: 'GSEA' {
        ext.args = '--min 1'
    }
}
